
@import url(https://fonts.googleapis.com/css?family=Anton&display=swap:200,300,400,500,600,700,900);

body {
    background-color: rgb(97, 211, 97);
    font-family: 'Anton', sans-serif;
}

h1{
    color: #f5f8f5;
}

img {
    height: 500px;
    margin-bottom: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    size: 60px;
    color:#f5f8f5;
    background-color: gray;
}